@tailwind base;
@tailwind components;
@tailwind utilities;
  
.raindrop {
    position: absolute;
    background-color: rgb(27, 161, 205);
    width: 2px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.5;
}
  